# MongoDB
MONGO_URI=mongodb://localhost:27019
MONGO_DB=sui_crawler

# Worker pool
NUM_WORKERS=2

# API server
API_PORT=8080

# Sui RPC
SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
SUI_JSON_RPC_URL=https://fullnode.mainnet.sui.io:443
SUI_RATE_LIMIT_RPS=10
SUI_RPC_TIMEOUT=2m

# ClickHouse Local (native TCP protocol)
CLICK_HOUSE_ADDR=localhost:9000
CLICK_HOUSE_DB=default
CLICK_HOUSE_USR=default
CLICK_HOUSE_PWD=
